@{
    ViewData["Title"] = "Message";
    Layout = "_Layout";
}

<h2>Welcome</h2>
<ul>
    @for (int i = 0; i < (int) ViewData["NumTimes"]; i++)
    {
        <li>@(ViewData["Message"].ToString() + i) </li>
    }
</ul>
